



img {
  width: 50%;

}
.wrapper {
  min-height: 100vh; /* Minimum height of the viewport */
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  overflow: hidden;
  background: #5598fd;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
}


.Container{
  text-align: center;
  
}



.weather-icon {
 color: white;
  text-align: center;
 
}

.main {
  width: 100%;
  min-width: 400px;
  padding: 20px 40px;
  text-align: center;
  
  
  
}







.main .cards {
  gap: 20px;
  margin-top: 10px;
  text-align: center;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.cards .card {
  width: 100px;
  height: 150px;
  border-radius: 20px;
  color: #1a1a1a;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  
  
  
  
  
}
.card h2 {
  font-size: 15px;
  font-weight: 600;
}
.card h3 {
  font-size: 10px;
  font-weight: 600;
}
.card .card-icon {
  width: 50%;
  margin: 0 auto;
}
.card .day-temp {
  font-size: 12px;
  
  justify-content: center;
  
}
.highlights {
  margin-top: 50px;
  text-align: center;
}
.highlights .heading {
 
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.card2 {
 
  height: 150px;
  border-radius: 20px;
  
  background-color: #fff;
  padding: 10px 5px;
  

}
.card2 .card-heading {
  color: #000000;
}

.card2 .content {
  margin-top: 20px;
}
.card2 .content p:first-child {
  text-align: center;
  font-size: 30px;
}
.card2 .content p:nth-child(2) {
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
}

